#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .card-h1 {
  color: #fff;
}